:root {
  --size-200: 0.75rem;
  --size-300: 0.875rem;
  --size-400: 1rem;
  --size-500: 1.125rem;
  --size-600: 1.25rem;
  --size-700: 1.5rem;
  --size-800: 1.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.ff-header {
  font-family: "Ubuntu", sans-serif;
}

/* @media screen and (min-width: 900px) {
  .tech:nth-child(even) {
    transform: translateY(50%);
  }
} */
